<html>
  <head>
    <style>
      html{
        background-color: white;
      }
      #main {
        padding: 115px 0 0 235px;
      }
    </style>
  </head>
  <body>
    <section id='main'>
      <%= bird.to_svg %>
    </section>
  </body>
</html>