<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/custom.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/scripts/party.coffee"></script>
  </head>
  <body>
    <input id="timestamp" type="hidden" value="<%= counter %>">
    <section id='main'>
      <%= bird.to_svg %>
    </section>
  </body>
</html>